{% extends "layout.html" %}

{% block title %}Compare Properties{% endblock %}

{% block content %}
    <h2>Compare Properties</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.properties1.label }} {{ form.properties1(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.properties2.label }} {{ form.properties2(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Compare</button>
    </form>

    {% if property1 and property2 %}
        <div class="media content-section">
            <img class="rounded-circle article-image" src="{{ url_for('static', filename='images/' ~ property1.image_file) }}" alt="Image of {{ property1.title }}">
            <div class="media-body">
                <h2>{{ property1.title }}</h2>
                <p>{{ property1.content }}</p>
                <ul>
                    <li>Location: {{ property1.location }}</li>
                    <li>Price: ${{ property1.price }}</li>
                </ul>
            </div>
        </div>
        <div class="media content-section">
            <img class="rounded-circle article-image" src="{{ url_for('static', filename='images/' ~ property2.image_file) }}" alt="Image of {{ property2.title }}">
            <div class="media-body">
                <h2>{{ property2.title }}</h2>
                <p>{{ property2.content }}</p>
                <ul>
                    <li>Location: {{ property2.location }}</li>
                    <li>Price: ${{ property2.price }}</li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
