{% extends "layout.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <h2>Locations</h2>
    {% for location in locations %}
        <div class="media content-section">
            <div class="media-body">
                <h2>{{ location.name }}</h2>
                <p>{{ location.description }}</p>
                <a href="{{ url_for('location', location_id=location.id) }}" class="btn btn-secondary">View Listings</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
