{% extends "layout.html" %}
{% block title %}Property Listings{% endblock %}

{% block content %}
<div class="container">
    <h2>Property Listings</h2>
    <ul>
        {% for property in properties %}
            <li>
                <h2>
                    <a href="{{ url_for('property_detail', property_id=property.id) }}">{{ property.title }}</a>
                </h2>
                <form action="{{ url_for('delete_property', property_id=property.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this property?');">
                    {{ form.hidden_tag() }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <div class="media content-section">
<!--                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' ~ property.image_file) }}" alt="Property Image">-->
                    <div class="media-body">
                        <ul>
                            <li>Price: ${{ property.price }}</li>
                            <li>Location: {{ property.location }}</li>
                            <li>Description: {{ property.description }}</li>
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
