{% extends "layout.html" %}
{% block title %}Update Property{% endblock %}
{% block content %}
<h1>Update Property</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.image_file.label(c_filass="form-label") }}
        {{ form.imagele(class="form-cotrol-file") n}}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
